@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Amiko');

body {
    margin: 0 auto;
    background: url("../pics/lightPurpleBack.jpg") no-repeat;
    height: 100%;
    width: 100%;
}
img{
    /*background: url("../pics/BrandyCruesoeLogo(combine).png") no-repeat;
    background-image: 100%;
    height: 500px;
    position: relative;*/
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align:  center;
}
#tag1{
    font-family: 'Abril Fatface', arial, serif;
    font-size: 30px;
    color: plum;
    margin-bottom: 0;
}
#tag2{
    font-family: 'Abril Fatface', arial, serif;
     font-size: 27px;
     color: plum;
     margin-top: 0;
}
#comingSoon{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#dingbat{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}